:root {
  --allied-black: #283b42;
  --allied-blue: #1c6b97;
  --allied-white: white;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.sticky-nav {
  z-index: 1;
  background-color: #f4f4f4;
  padding: 20px;
  position: sticky;
  top: 0;
}

.nav-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content max-content max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}

.nav-logo-link {
  height: 60px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: block;
}

.nav-logo {
  object-fit: contain;
  object-position: 0% 50%;
  width: auto;
  height: 100%;
}

.nav-link {
  color: #444;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 0;
  text-decoration: none;
  display: block;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar {
  border-bottom: 1px solid var(--allied-black);
  background-color: #fff;
  height: auto;
  position: fixed;
  inset: 0% 0% auto;
}

.button {
  background-color: var(--allied-blue);
  border-top-right-radius: 0;
  border-bottom-left-radius: 20px;
  justify-content: flex-end;
  width: 300px;
  margin-left: auto;
  margin-right: 0;
  padding: 30px 20px 20px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  display: flex;
  position: fixed;
  inset: 0% 0% auto auto;
}

.nav-link-2 {
  border-style: none;
  border-width: 1px 1px 2px 2px;
  border-color: transparent transparent var(--allied-blue) var(--allied-blue);
  color: var(--allied-black);
  background-color: #0000;
  border-bottom-left-radius: 20px;
  padding-top: 60px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.nav-link-2:hover {
  color: var(--allied-blue);
  background-color: #0000;
}

.nav-link-3 {
  color: var(--allied-black);
  border-bottom-left-radius: 20px;
  padding-top: 60px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.nav-link-3:hover {
  color: var(--allied-blue);
  background-color: #0000;
}

.nav-link-4 {
  color: #283b42;
  border-bottom-left-radius: 20px;
  padding-top: 60px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.nav-link-4:hover {
  color: var(--allied-blue);
  background-color: #1c6b9700;
}

.image {
  padding-top: 50px;
  padding-right: 10px;
}

.container {
  justify-content: center;
  width: 81%;
  margin-left: 100px;
  margin-right: 20px;
  display: block;
}

.div-block {
  width: 80vw;
  min-width: auto;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

.menu-button {
  width: 300px;
}

.div-block-2 {
  background-image: url('../images/shutterstock_7446508752.jpg');
  background-position: 50% 0;
  background-size: cover;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 100vw;
  height: 80vh;
  margin: 60px auto -60px;
  transition: opacity .2s;
  transform: translate(0);
}

.grid {
  grid-auto-flow: column;
}

.div-block-3 {
  width: 80vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.div-block-4 {
  border: 20px solid var(--allied-blue);
  border-bottom-left-radius: 40px;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 60%;
  margin-top: auto;
  margin-left: 40px;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
}

.text-block {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.section {
  background-color: var(--allied-white);
  border-bottom-left-radius: 0;
}

.div-block-5 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 100%;
  margin: auto auto auto 140px;
  display: flex;
}

.block-quote {
  border-left-color: var(--allied-blue);
  background-color: var(--allied-black);
  color: var(--allied-white);
  text-transform: uppercase;
  border-top-right-radius: 100px;
  width: 100vw;
  margin: auto 0 0 auto;
  padding: 20px 100px 20px 120px;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
}

.div-block-6 {
  background-color: var(--allied-blue);
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 40vw;
  height: 50px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: flex;
}

.text-block-2 {
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 50px;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  display: flex;
}

.div-block-7 {
  margin-top: 60px;
}

.heading {
  color: var(--allied-white);
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

.heading._2 {
  color: var(--allied-black);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0;
}

.grid-2 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template: "Area Area-2 Area-3"
  / 1fr 1fr 1fr;
  height: 120px;
  margin-top: 20px;
}

.div-block-8 {
  background-color: var(--allied-blue);
  border-radius: 10px;
}

.div-block-9, .div-block-10 {
  background-color: var(--allied-blue);
}

.image-2 {
  max-width: none;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.section-2 {
  background-color: var(--allied-white);
  opacity: 1;
  height: 430px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.section-2:hover {
  opacity: 1;
  filter: none;
}

.section-3 {
  background-color: var(--allied-black);
  height: 200px;
  margin-top: 140px;
}

.section-4 {
  max-width: 1240.8vw;
  height: 600px;
  margin: 0 auto;
}

.div-block-11 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  opacity: 1;
  text-align: left;
  background-color: #283b42ab;
  background-image: url('../images/shutterstock_722035285.jpg');
  background-position: 50%;
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
  border-radius: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  display: flex;
}

.div-block-12 {
  background-color: #283b4233;
  width: 80vw;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.section-5 {
  background-color: var(--allied-blue);
  height: 250px;
  margin-top: 0;
  margin-bottom: 60px;
  padding-top: 0;
}

.div-block-13 {
  background-color: #283b4233;
  height: 400px;
}

.nav-menu {
  margin-right: 60px;
}

.div-block-14 {
  background-color: var(--allied-blue);
  border-bottom-left-radius: 0;
  width: 100vw;
  height: 40px;
  position: absolute;
  inset: 0% 0% auto;
}

.div-block-15b {
  background-image: url('../images/Moscowweb2.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 350px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Poppins, sans-serif;
  display: flex;
}

.div-block-15b.v1 {
  background-image: url('../images/Rotterdamweb2.jpg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.text-block-3 {
  color: #fff;
  text-align: center;
  background-color: #1c6b9799;
  border: 50px #1c6b970d;
  width: 80%;
  height: 64.455%;
  margin: 60px auto;
  padding: 40px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}

.heading-2 {
  color: var(--allied-black);
  border: 1px #fff;
  justify-content: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  font-family: Poppins, sans-serif;
  display: flex;
}

.text-block-4 {
  text-align: center;
  padding-top: 60px;
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.text-block-5 {
  border-top: 1px solid var(--allied-white);
  color: var(--allied-white);
  text-align: center;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  font-family: Poppins, sans-serif;
}

.div-block-16 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-style: none none solid solid;
  border-width: 3px 3px 1px 1px;
  border-color: var(--allied-black);
  opacity: 1;
  background-image: url('../images/rotterdamvlag.jpg');
  background-position: 0 0;
  background-size: contain;
  border-radius: 0 0 0 25px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 120px;
  height: 80px;
  margin-top: 0;
  margin-right: 0;
  display: block;
  position: absolute;
  inset: 0% 0% auto auto;
}

.image-3 {
  border: 5px solid var(--allied-blue);
  border-bottom-left-radius: 30px;
}

.text-block-6 {
  color: #fff;
  text-align: right;
  width: 80%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 60px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}

.section-6 {
  height: 260px;
  margin-top: 140px;
}

.div-block-17 {
  width: 60vw;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
}

.field-label, .field-label-2 {
  font-family: Poppins, sans-serif;
}

.submit-button {
  background-color: var(--allied-blue);
  font-family: Poppins, sans-serif;
}

.text-block-7 {
  color: var(--allied-white);
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.success-message {
  background-color: var(--allied-blue);
}

.div-block-18 {
  width: 80vw;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.grid-3 {
  grid-template: "Area Area-2 Area-3 Area-4"
  / 1fr 1fr 1fr 1fr;
  max-width: 80vw;
  height: 200px;
  margin-top: 0;
  padding-top: 20px;
}

.image-4 {
  margin-right: 0;
  padding: 40px 0 40px 140px;
}

.heading-3 {
  color: var(--allied-white);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.image-5 {
  max-height: 70%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 20px;
  display: block;
}

.link-block {
  text-decoration: none;
}

.text-block-8 {
  color: var(--allied-white);
  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.footer {
  background-color: var(--allied-black);
  text-align: center;
  border: 1px #000;
  align-items: flex-start;
  margin-top: 40px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-flex-container {
  text-align: left;
  justify-content: space-between;
  margin-bottom: 40px;
  display: flex;
}

.footer-logo-link {
  flex: 0 auto;
  min-width: 60px;
  max-height: 60px;
  text-decoration: none;
}

.footer-image {
  object-fit: contain;
  object-position: 0% 50%;
  width: 200px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer-heading {
  color: var(--allied-white);
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  color: var(--allied-white);
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
}

.footer-link:hover {
  text-decoration: underline;
}

.text-block-9 {
  color: var(--allied-white);
}

.div-block-19 {
  border-top: 2px solid var(--allied-white);
  color: #fff;
  height: 100px;
  margin-top: 25px;
  line-height: 20px;
}

.text-block-10 {
  direction: ltr;
  color: var(--allied-white);
  text-align: center;
  white-space: normal;
  background-color: #0000;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 30px;
  margin: auto;
  padding: 40px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  display: flex;
}

.div-block-20 {
  width: 80vw;
  height: 90vh;
  margin: 40px auto;
}

.div-block-21 {
  background-color: var(--allied-blue);
  height: 100px;
}

.image-6 {
  width: 100%;
  padding: 20px 220px;
}

.image-7 {
  border-top-right-radius: 100px;
}

.heading-4 {
  background-color: var(--allied-blue);
  color: var(--allied-white);
  width: auto;
  margin-top: 20px;
  padding-left: 20px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.heading-4._2 {
  color: var(--allied-black);
  padding-left: 0;
}

.section-7 {
  object-fit: cover;
  background-color: #0000;
  height: auto;
  margin-top: 0;
  margin-right: 0;
}

.paragraph {
  color: var(--allied-white);
  padding-left: 20px;
  padding-right: 20px;
}

.button-2 {
  background-color: var(--allied-blue);
  text-align: center;
  justify-content: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: flex;
}

.button-2:hover {
  background-color: var(--allied-black);
}

.button-2.w--current {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  display: flex;
}

.button-2.w--current:hover {
  background-color: #1d3d4f;
}

.div-block-22 {
  width: 100vw;
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.section-8 {
  height: 125vh;
  margin-top: 180px;
}

.image-8 {
  border-bottom: 50px none var(--allied-blue);
  border-top-right-radius: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: auto;
}

.image-8._2 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 0;
}

.div-block-23 {
  background-color: var(--allied-blue);
  height: 100px;
  margin-left: 20px;
}

.paragraph-2 {
  color: var(--allied-white);
  padding-left: 20px;
  padding-right: 40px;
  font-weight: 400;
}

.div-block-24 {
  height: 100%;
}

.section-9 {
  height: 500px;
  margin-top: 140px;
}

.div-block-25 {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.columns {
  margin-top: 20px;
}

.div-block-26 {
  width: 80vw;
  height: 40px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.column {
  padding-left: 20px;
  padding-right: 20px;
}

.div-block-27 {
  background-color: var(--allied-blue);
  opacity: .85;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  flex-flow: column;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 150px;
  margin-top: 0;
  padding-top: 0;
  display: block;
}

.paragraph-3 {
  font-family: Poppins, sans-serif;
}

.div-block-28 {
  border-top: 20px solid var(--allied-white);
  background-image: url('../images/alliedpetrochemical.jpg');
  background-position: 50%;
  background-size: cover;
  height: 150px;
}

.div-block-29 {
  border-top: 20px solid var(--allied-white);
  background-image: url('../images/Alliedcoaltrading-2.jpg');
  background-position: 50% 0;
  background-size: cover;
  height: 150px;
}

.div-block-30 {
  border-top: 20px solid var(--allied-white);
  background-image: url('../images/alliedtransport.jpg');
  background-position: 50%;
  background-size: cover;
  height: 150px;
}

.paragraph-4 {
  color: var(--allied-white);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.button-3 {
  background-color: var(--allied-blue);
  margin-left: 0;
  margin-right: 20px;
}

.button-3:hover {
  background-color: #73cbe5e3;
}

.div-block-31 {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.text-block-11 {
  color: var(--allied-white);
  margin-bottom: 10px;
}

.column-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.body {
  background-color: var(--allied-white);
  background-image: url('../images/shutterstock_722035285.jpg');
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  padding-left: 0;
}

.div-block-33 {
  background-color: #283b4296;
  border-bottom-right-radius: 50px;
  margin-top: 140px;
}

.div-block-34 {
  background-color: var(--allied-black);
  width: 20vw;
  height: 60px;
  margin-left: 0;
  margin-right: auto;
  padding-right: 0;
}

.column-3 {
  background-color: var(--allied-black);
  height: auto;
  padding-left: 100px;
}

.div-block-35 {
  height: 790px;
}

.columns-2 {
  width: auto;
  height: 120vh;
  margin-left: 20px;
  margin-right: 20px;
}

.column-4 {
  height: 800px;
  padding-right: 0;
}

.body-2 {
  background-color: var(--allied-white);
  margin-left: 0;
  padding-left: 0;
  display: block;
}

.div-block-36 {
  background-image: url('../images/shutterstock_1134600713-2.jpg');
  background-position: 50%;
  background-size: cover;
  height: 400px;
  margin-bottom: 10px;
}

.div-block-36._2 {
  background-image: url('../images/Alliedcoalv2.jpg');
  margin-bottom: auto;
}

.div-block-37 {
  background-color: var(--allied-blue);
  width: 40vw;
  height: 40px;
  margin: 20px auto 100px;
}

.image-9 {
  margin-top: 20px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.quick-stack {
  grid-row-gap: 17px;
  flex: 1;
  margin-top: 0;
}

.section-10 {
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 80%;
  margin-top: 100px;
  display: flex;
}

.div-block-38 {
  width: 100%;
  height: 100%;
}

.image-10 {
  width: 100%;
  height: auto;
  display: block;
}

.div-block-39 {
  flex-flow: column;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  height: 150px;
  display: flex;
}

.cell {
  background-color: var(--allied-blue);
  justify-content: center;
  align-items: center;
  display: flex;
}

.cell-2 {
  background-color: var(--allied-blue);
}

.div-block-40 {
  flex: 0 auto;
  width: 100%;
  height: 100%;
}

.image-11 {
  mix-blend-mode: normal;
  height: 120px;
  margin: auto;
  padding-top: 40px;
  display: block;
}

.text-block-12 {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
  line-height: 25px;
  display: flex;
}

.cell-3, .cell-4 {
  background-color: var(--allied-blue);
}

.heading-5 {
  display: block;
}

.section-11 {
  height: 100px;
  margin-top: 60px;
  margin-bottom: -60px;
}

.div-block-41 {
  width: 80%;
}

.div-block-42 {
  background-color: var(--allied-blue);
  height: 150px;
  margin-top: 0;
  margin-bottom: 0;
}

.heading-6 {
  color: var(--allied-white);
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
}

.text-block-13 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  font-size: 16px;
}

.div-block-43 {
  width: 100%;
  height: 100%;
  padding-left: 40px;
}

.heading-7 {
  text-align: left;
}

.heading-8, .heading-9 {
  margin-bottom: 0;
}

.text-block-14, .text-block-15 {
  font-size: 20px;
}

.text-block-16, .text-block-17 {
  font-size: 16px;
}

.text-block-18 {
  font-size: 16px;
  font-weight: 400;
}

.section-12 {
  margin-top: 0;
}

@media screen and (max-width: 991px) {
  .button {
    padding-top: 30px;
  }

  .image {
    padding-top: 10px;
  }

  .menu-button {
    width: 100px;
    margin-top: 10px;
    margin-right: 0;
  }

  .div-block-2 {
    background-position: 50%;
    height: 50vh;
    margin-bottom: -60px;
  }

  .div-block-5 {
    width: 80%;
    margin-left: 0;
  }

  .block-quote {
    margin-left: -60px;
    margin-right: 0;
    padding-left: 40px;
    font-size: 35px;
    line-height: 40px;
  }

  .brand {
    padding-right: 10px;
  }

  .heading._2 {
    margin-bottom: 0;
    padding-top: 0;
  }

  .section-4 {
    max-width: 1240.8px;
    height: 300px;
    margin-bottom: 0;
    display: flex;
  }

  .div-block-11 {
    -webkit-text-fill-color: inherit;
    background-position: 50%;
    background-repeat: repeat-x;
    background-size: 150%;
    background-clip: border-box;
    width: 100%;
    height: 300px;
    margin-top: 0;
  }

  .div-block-14 {
    margin-top: 60px;
  }

  .div-block-15b {
    background-position: 70%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .text-block-3 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    line-height: 30px;
    display: block;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-block-10 {
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-top: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .heading-4 {
    width: 100%;
    font-size: 14px;
  }

  .paragraph-4 {
    font-size: 14px;
    line-height: 20px;
  }

  .button-3 {
    margin-bottom: 10px;
  }

  .column-3 {
    padding-left: 20px;
  }

  .div-block-40 {
    margin-bottom: 10px;
  }

  .text-block-12 {
    font-size: 12px;
    line-height: 20px;
  }

  .text-block-13 {
    font-size: 14px;
  }

  .heading-7 {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .menu-button {
    width: 160px;
    margin-right: 0;
  }

  .div-block-2 {
    border-bottom-right-radius: 0;
  }

  .div-block-3 {
    height: 100%;
  }

  .block-quote {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
  }

  .heading {
    margin-top: 20px;
    font-size: 24px;
  }

  .grid-2 {
    grid-template: "Area"
                   "Area-2"
                   "Area-3"
                   / 1fr;
    height: 150px;
  }

  .section-2 {
    height: 400px;
  }

  .section-4 {
    margin-top: 60px;
  }

  .div-block-11 {
    background-position: 50%;
    background-size: cover;
  }

  .div-block-14 {
    width: 100%;
    margin-top: 70px;
  }

  .div-block-15b {
    margin-top: 20px;
  }

  .div-block-16 {
    margin-right: 0;
  }

  .text-block-6 {
    text-align: left;
    padding-top: 0;
    padding-right: 0;
  }

  .footer {
    margin-top: 20px;
    padding: 40px;
  }

  .footer-image {
    object-fit: contain;
  }

  .footer-link, .text-block-9, .div-block-19 {
    font-size: 10px;
  }

  .text-block-10 {
    width: 70%;
  }

  .heading-4._2 {
    font-size: 16px;
  }

  .section-7 {
    height: auto;
  }

  .section-8 {
    height: 150vh;
  }

  .section-9 {
    height: 800px;
  }

  .paragraph-4 {
    margin-top: 10px;
    font-size: 12px;
  }

  .text-block-11 {
    font-size: 10px;
  }

  .div-block-35 {
    height: 550px;
  }

  .column-4 {
    height: 400px;
    padding-left: 0;
  }

  .div-block-36 {
    height: 200px;
  }

  .image-11 {
    height: 100px;
  }

  .div-block-42 {
    height: 200px;
  }

  .heading-6 {
    font-size: 20px;
  }

  .heading-7, .heading-8, .heading-9 {
    font-size: 16px;
  }

  .body-3 {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0;
  }

  .nav-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 100px;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    border-top: 1px solid #c4c4c4;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .image {
    width: 150px;
  }

  .div-block {
    width: 90vw;
  }

  .menu-button {
    width: 80px;
    margin-right: 40px;
  }

  .div-block-2 {
    background-position: 15%;
    border-bottom-right-radius: 0;
    width: 100vw;
    height: 50vh;
  }

  .div-block-3 {
    height: 370px;
  }

  .section {
    height: auto;
  }

  .div-block-5 {
    width: 90%;
  }

  .block-quote {
    border-top-right-radius: 50px;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .text-block-2 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
  }

  .brand {
    padding-left: 0;
  }

  .heading {
    font-size: 18px;
  }

  .heading._2 {
    margin-top: 0;
  }

  .grid-2 {
    height: 500px;
  }

  .image-2 {
    height: 30px;
  }

  .section-2 {
    height: 700px;
  }

  .section-4 {
    height: 450px;
  }

  .div-block-11 {
    background-position: 50%;
    background-repeat: repeat-x;
    background-size: cover;
    height: 500px;
  }

  .section-5 {
    height: 350px;
    margin-top: -60px;
  }

  .div-block-14 {
    width: 100%;
    margin-top: 60px;
  }

  .text-block-3 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    line-height: 16px;
  }

  .div-block-16 {
    width: 80px;
    height: 50px;
    margin-right: 0;
  }

  .text-block-6 {
    font-size: 7.5px;
  }

  .footer {
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-flex-container {
    flex-direction: column;
  }

  .footer-logo-link {
    height: 300px;
  }

  .footer-image {
    margin-bottom: 0;
  }

  .footer-heading {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text-block-10 {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 14px;
  }

  .heading-4, .heading-4._2 {
    font-size: 16px;
  }

  .paragraph {
    font-size: 12px;
    line-height: 18px;
  }

  .button-2 {
    font-size: 16px;
  }

  .div-block-22 {
    margin-top: 0;
  }

  .section-8 {
    height: 190vh;
    margin-top: 140px;
  }

  .section-9 {
    height: 650px;
  }

  .paragraph-4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .button-3 {
    margin-bottom: 10px;
  }

  .div-block-32 {
    margin-top: 150px;
  }

  .div-block-33 {
    margin-top: 100px;
  }

  .column-3 {
    padding-left: 20px;
  }

  .div-block-35 {
    height: 800px;
  }

  .column-4 {
    height: 450px;
    padding-left: 0;
  }

  .div-block-36 {
    height: 200px;
    margin-top: 10px;
  }

  .div-block-36._2 {
    height: 200px;
  }

  .list {
    margin-top: 120px;
  }

  .image-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-42 {
    height: 200px;
  }

  .text-block-13 {
    font-size: 12px;
  }
}

#w-node-bb6b505d-fcda-3fb6-d59a-2772aa5674d0-005c142d {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 2fr;
}

#w-node-_2b379e09-bd5d-683f-d8d0-108282bafda0-005c142d {
  grid-row: span 3 / span 3;
}

#w-node-_8ca76d0d-2821-9a8f-7547-687c4f60e5be-005c142d {
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
}

#w-node-_719d125f-ee71-e01b-400f-4209a8c7094b-45b7db97 {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 2fr;
}

#w-node-_719d125f-ee71-e01b-400f-4209a8c7095a-45b7db97 {
  grid-row: span 3 / span 3;
}

@media screen and (max-width: 991px) {
  #w-node-_8ca76d0d-2821-9a8f-7547-687c4f60e5be-005c142d {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_719d125f-ee71-e01b-400f-4209a8c7095a-45b7db97 {
    grid-row: span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-bb6b505d-fcda-3fb6-d59a-2772aa5674d0-005c142d {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  #w-node-_2b379e09-bd5d-683f-d8d0-108282bafda0-005c142d {
    order: -9999;
    grid-row: span 3 / span 3;
  }

  #w-node-_8ca76d0d-2821-9a8f-7547-687c4f60e5be-005c142d {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_719d125f-ee71-e01b-400f-4209a8c7094b-45b7db97 {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  #w-node-_719d125f-ee71-e01b-400f-4209a8c7095a-45b7db97 {
    order: -9999;
    grid-row: span 3 / span 3;
  }
}


